[Unit]
Description=messages service
After=multi-user.target

[Service]
Type=simple
Restart=always
User=pi
WorkingDirectory=/home/pi/BOB/modules/messages
ExecStart=/usr/bin/python3 -m src.main 127.0.0.1

[Install]
WantedBy=multi-user.target