[Unit]
Description=gear service
After=multi-user.target

[Service]
Type=simple
restart=on-failure
WorkingDirectory=${BOB_ROOT}/modules/gear
ExecStart=${BOB_ROOT}/modules/.venv/bin/python3 -m src.main 

[Install]
WantedBy=multi-user.target