[Unit]
Description=Control systemd services through Web or REST API
Documentation=https://github.com/ogarcia/sysdweb
After=network.target
Requires=dbus.socket

[Service]
WorkingDirectory=${BOB_ROOT}/modules/bobui
ExecStart=${BOB_ROOT}/modules/bobui/.venv/bin/python3 -m src.main -c src/bobui.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
