[Unit]
Description=CAN manager module
After=multi-user.target

[Service]
Type=simple
Restart=on-failure
User=pi
WorkingDirectory=/home/pi/bob/modules/can
ExecStart=/usr/bin/python3 -m src.main 

[Install]
WantedBy=multi-user.target