# note: substitute <module-name> with the actual name

[Unit]
Description=<module-name> service
After=multi-user.target

[Service]
Type=simple
Restart=on-failure
WorkingDirectory=/home/pi/bob/modules/<module-name>

# you have two options for the ExecStart part, recall to comment or delete the
# lines that you do not need

# if you're using a venv:
ExecStart=/home/pi/bob/modules/<module-name>/.venv/bin/python3 -m src.main

# if you're NOT using a venv:
ExecStart=/usr/bin/python3 -m src.main 

[Install]
WantedBy=multi-user.target