[Unit]
Description=${MODULE_NAME} service
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=${BOB_ROOT}/modules/${MODULE_NAME}
ExecStart=${BOB_ROOT}/modules/${MODULE_NAME}/.venv/bin/python3 -m src.main 127.0.0.1

[Install]
WantedBy=multi-user.target