[Unit]
Description=hall service
After=multi-user.target

[Service]
Type=simple
User=pi
Restart=always
WorkingDirectory=/home/pi/BOB/hall_sensor
ExecStart=/usr/bin/python3 -m src.main 127.0.0.1

[Install]
WantedBy=multi-user.target
