[Unit]
Description=hall service
After=multi-user.target

[Service]
Type=simple
User=pi
Restart=always
WorkingDirectory=${BOB_ROOT}/modules/hall_sensor
ExecStart=${BOB_ROOT}/modules/hall_sensor/.venv/bin/python3 -m src.main 127.0.0.1

[Install]
WantedBy=multi-user.target
