[Unit]
Description=new bt service
After=multi-user.target

[Service]
Type=simple
restart=on-failure
WorkingDirectory=${BOB_ROOT}/modules/bt
ExecStart=bash start.sh

[Install]
WantedBy=multi-user.target