[Unit]
Description=new bt service
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/pi/BOB/new_bt
ExecStart=bash /home/pi/BOB/new_bt/start.sh

[Install]
WantedBy=multi-user.target