[Unit]
Description=Accelerometer service
After=multi-user.target

[Service]
Type=simple
User=pi
Restart=on-failure
WorkingDirectory=/home/pi/bob/modules/accelerometer
ExecStart=/home/pi/bob/modules/accelerometer/.venv/bin/python3 -m src.main

[Install]
WantedBy=multi-user.target