[Unit]
Description=video service
After=multi-user.target

[Service]
Type=simple
restart=on-failure
User=pi
WorkingDirectory=${BOB_ROOT}/modules/video
ExecStart=/usr/bin/python3 -m src.main 

[Install]
WantedBy=multi-user.target