[Unit]
Description="service_controller service"
After=network.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/pi/bob_davdev/service_controller/src
ExecStart="/usr/bin/python3 main.py"

[Install]
WantedBy=multi-user.target