[Unit]
Description=BOB

[Service]
User=pi
Type=simple
WorkingDirectory=/home/pi/BOB/
ExecStart=/home/pi/BOB/start.sh

[Install]
WantedBy=multi-user.target