[Unit]
Description=BOB service tu run the MQTT container with Docker
After=docker.service
Requires=docker.service

[Service]
User=pi
Type=simple
WorkingDirectory=${BOB_ROOT}
ExecStart=docker-compose up

[Install]
WantedBy=multi-user.target