[Unit]
Description=CAN bus logger service
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=${BOB_ROOT}/modules/can_logger
ExecStart=${BOB_ROOT}/modules/can_logger.sh

[Install]
WantedBy=multi-user.target