[Unit]
Description=Control systemd services through Web or REST API
Documentation=https://github.com/ogarcia/sysdweb
After=network.target
Requires=dbus.socket

[Service]
WorkingDirectory=${BOB_ROOT}/ui
ExecStart=${BOB_ROOT}/ui/.venv/bin/python3 sysdweb.py -p 8080 -l 0.0.0.0 -c sysdweb.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
