[Unit]
Description=pyxbee_v3 service
After=multi-user.target

[Service]
Type=simple
Restart=always
User=pi
WorkingDirectory=${BOB_ROOT}/modules/pyxbee_v3
ExecStart=${BOB_ROOT}/modules/pyxbee_v3/.venv/bin/python3 -m src.main 127.0.0.1

[Install]
WantedBy=multi-user.target